@font-face {
    font-family: 'webfontregular';
    src: font_url('code_pro_demo-webfont-webfont.woff2') format('woff2'),
         font_url('code_pro_demo-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}